html
    head
        link(rel="stylesheet", href="css/theme.css")
        title="Hello world"
    body
        img(src="images/brand-full.svg", id="logo")
        h1="Hello world from NodeJS"
        h2="Hostname: " + hostname
        